---
import logo from '../assets/images/Logo-lg-td.jpeg';
import Image from '~/components/common/Image.astro';

---
<Image src={logo} alt="logo CitizenLab guinée" class="h-12" />
<span class="self-center ml-1 mt-5 text-2xl md:text-xl font-bold whitespace-nowrap">TD</span>
